{% load crispy_forms_tags %}
{% load static %}

<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | Login</title>

    <link href="{%static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{%static 'font-awesome/css/font-awesome.css'%}" rel="stylesheet">

    <link href="{%static 'css/animate.css'%}" rel="stylesheet">
    <link href="{%static 'css/style.css'%}" rel="stylesheet">

</head>

<body class="gray-bg" style="background: rgb(26,179,148);background: linear-gradient(128deg, rgba(26,179,148,1) 0%, rgba(0,0,0,0.684456448595063) 100%);">

    <div class="passwordBox animated fadeInDown">
        <div class="row">

            <div class="col-md-12">
                <div class="ibox-content" style="border-radius: 40px;">

                    <h2 class="font-bold">{{ question.question_text }}</h2>



                    <div class="row">

                        <div class="col-lg-12">
                            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                            <form class="m-t" method="post" action="{% url 'vote' question.id %}">



                                    {{ form|crispy }}
                                    {% csrf_token %}
                                {% csrf_token %}
                                {% for choice in question.choice_set.all %}
                                    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                                    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
                                {% endfor %}


                                <button type="submit" class="btn btn-primary block full-width m-b">Vote</button>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Mainly scripts -->
    <script src={%static "js/jquery-3.1.1.min.js"%}></script>
    <script src={%static "js/popper.min.js"%}></script>
    <script src={%static "js/bootstrap.js"%}></script>

</body>

</html>


