<!DOCTYPE html>
{% load static %}

<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | Login</title>

    <link href="{%static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{%static 'font-awesome/css/font-awesome.css'%}" rel="stylesheet">

    <link href="{%static 'css/animate.css'%}" rel="stylesheet">
    <link href="{%static 'css/style.css'%}" rel="stylesheet">

</head>

<body class="gray-bg" style="background: rgb(26,179,148);background: linear-gradient(128deg, rgba(26,179,148,1) 0%, rgba(0,0,0,0.684456448595063) 100%);">

    <div class="passwordBox animated fadeInDown">
        <div class="row">

            <div class="col-md-12">
                <div class="ibox-content" style="border-radius: 10px;">

                    <h2 class="font-bold">Log In</h2>



                    <div class="row">

                        <div class="col-lg-12">
                            <form class="m-t" method="post" action="{% url 'login' %}">
                                 {% csrf_token %}
                                    {{ form.username.label_tag }}
                                    {{ form.username }}

                                    {{ form.password.label_tag }}




                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email address" required="">
                                    <br>
                                    <input type="password" class="form-control" placeholder="Password" required="">
                                </div>
                                  {{ form.errors }}

                                <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

                            </form>
                            <small> <a href="forgot_password.html">Forgot Password</a></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Mainly scripts -->
    <script src={%static "js/jquery-3.1.1.min.js"%}></script>
    <script src={%static "js/popper.min.js"%}></script>
    <script src={%static "js/bootstrap.js"%}></script>

</body>

</html>
