{% load crispy_forms_tags %}
{% load static %}

<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | Login</title>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.15/c3.min.js"></script>
	<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.15/c3.min.css">


    <link href="{%static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{%static 'font-awesome/css/font-awesome.css'%}" rel="stylesheet">

    <link href="{%static 'css/animate.css'%}" rel="stylesheet">
    <link href="{%static 'css/style.css'%}" rel="stylesheet">

</head>

<body class="gray-bg" style="background: rgb(26,179,148);background: linear-gradient(128deg, rgba(26,179,148,1) 0%, rgba(0,0,0,0.684456448595063) 100%);">


    <div class="passwordBox animated fadeInDown">

        <div class="row">

            <div class="col-md-12">
                <div class="ibox-content" style="border-radius: 80px;">
                    <div id="donut">    </div>






                <script>
                    var a = 100*{{ m.0 }}/{{ m.0 }} + {{ m.1 }};
                    var b= 100*{{ m.1 }}/{{ m.0 }} + {{ m.1 }};
                           var donut_chart = c3.generate({

                                  bindto: '#donut',

                                  data: {
                                    columns: [
                                        ["A",100*{{ m.0 }}/({{ m.0 }} + {{ m.1 }})],
                                          ["B",100*{{ m.1 }}/({{ m.0 }} + {{ m.1 }})],



                                             ],
                                    type: 'donut'
                                  },


                                  donut: {
                                      title: "Vote Result"
                                  }
                                });







	</script>




                    <div class="row">

                        <div class="col-lg-12">
                            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Mainly scripts -->
    <script src={%static "js/jquery-3.1.1.min.js"%}></script>
    <script src={%static "js/popper.min.js"%}></script>
    <script src={%static "js/bootstrap.js"%}></script>

</body>

</html>


