<!DOCTYPE html>
{% load crispy_forms_tags %}
{% load static %}

<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | Login</title>

    <link href="{%static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{%static 'font-awesome/css/font-awesome.css'%}" rel="stylesheet">

    <link href="{%static 'css/animate.css'%}" rel="stylesheet">
    <link href="{%static 'css/style.css'%}" rel="stylesheet">
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/jvectormap/2.0.4/jquery-jvectormap.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.15/c3.min.css">
    <link href="/path/to/c3.css" rel="stylesheet">

    <!-- Load d3.js and c3.js -->
    <script src="/path/to/d3.v5.min.js" charset="utf-8"></script>
    <script src="/path/to/c3.min.js"></script>


</head>

<body class="gray-bg" style="background: rgb(26,179,148);background: linear-gradient(128deg, rgba(26,179,148,1) 0%, rgba(0,0,0,0.684456448595063) 100%);">

    <div class="passwordBox animated fadeInDown">
        <div class="row">

            <div class="col-md-12">
                <div class="ibox-content" style="border-radius: 10px;">

                    <h2 class="font-bold">Log In</h2>



                    <div class="row">

                        <div class="col-lg-12">
                            <form class="m-t" method="post" action="{% url 'login' %}">

                                {{ form|crispy }}
                                    {% csrf_token %}

                                <button type="submit" class="btn btn-primary block full-width m-b">Login</button>


                            </form>
                            <small> <a href="forgot_password.html">Forgot Password</a></small>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div id="chart"></div>

	<script>

	var chart = c3.generate(
		{"data":{"columns":[["Data Series 1 Count",2,4,6,8,10],["Data Series 2 Count",4,6,8,10,12],
            ["Data Series 3 Count",6,8,10,12,14]],"type":"bar"},
            "axis":{"x":{"type":"category","categories":["2017 Q4","2018 Q1","2018 Q2","2018 Q3","2018 Q4"]}},
            "grid":{"x":{"lines":{}},"y":{"lines":{}}},"donut":{},"bar":{"WidthRatio":0,"Width":0}}
	);

	</script>

    <!-- Mainly scripts -->
    <script src={%static "js/jquery-3.1.1.min.js"%}></script>
    <script src={%static "js/popper.min.js"%}></script>
    <script src={%static "js/bootstrap.js"%}></script>

    <script>

  var donut_chart = c3.generate({

      bindto: '#donut',

      data: {
        columns: [
          ["Pass",pass*100/total],
          ["Fail", fail*100/total],

                 ],
        type: 'donut'
      },


      donut: {
          title: "Failed Percentage"
      }
    });

</script>


</body>

</html>
